@import url("https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Vinyl&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  user-select: none;
}

html {
  scroll-behavior: smooth;
}
.icon {
  display: none;
}

/*HEADER*/
header {
  position: fixed;
  width: 100%;
  z-index: 99;
  box-shadow: 1px 1px 5px #919191;
}
.container {
  position: relative;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 110px;
  background-color: white;
}

.logo {
  font-size: 0.8rem;
  font-weight: 700;
  color: #274169;
  user-select: none;
}

.content a {
  position: relative;
  text-decoration: none;

  font-size: 1.1em;
  font-weight: 500;
  margin-left: 30px;
}

nav span {
  color: #274169;
}

.content a::after {
  content: "";
  border: 1px solid #274169;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -8px;
  border-radius: 20px;
  transform: scale(0);
  transition: 0.2s;
}

.content a:hover::after {
  transform: scale(1);
  transition: 0.2s;
}
/*HEADER-END*/

/*SECTION-1*/
section {
  height: 100vh;
  width: 100%;
}
.container2 {
  display: flex;
  align-items: center;
  width: 100%;
  margin: auto;
  height: 80vh;
  padding: 0px 100px;
}

.container2 img {
  position: relative;
  left: 160px;
  margin-top: 130px;
}
.content2 {
  margin-top: 120px;
}

.content2 .user {
  padding: 10px 0px;
  font-size: 3em;
  font-weight: 700;
  word-spacing: 10px;
  letter-spacing: 3px;
  color: #274169;
  text-shadow: 3px 3px 3px #00000033;
}

.container2 .p1 {
  color: #57c55c;
  font-weight: 500;
}

.container2 .p2 {
  color: #375583;
  font-weight: 500;
}

.container2 .social {
  font-size: 1.6em;
  margin-top: 10px;
}
.social a {
  margin: 0px 10px;
  color: #645f5f;
}

.social a:hover {
  color: #375583;
}

.content2 .submit a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  border: 2px solid #57c55c;
  border-radius: 5px;
  padding: 5px;
  color: white;
  background: #57c55c;
  transition: 0.5s;
}

.content2 .submit a:hover {
  font-size: 19px;
  box-shadow: 5px 5px 5px #89e78e;
  transition: 0.5s;
}

.content2 .submit {
  margin-top: 10px;
}
/*SECTION-1-END*/

/*SECTION-2*/
.container3,
.skills {
  width: 100%;
  margin: auto;
  padding: 0 2rem;
}

.about1,
.skills {
  background-color: white;
  padding: 4rem 2px;
  height: 100vh;
}

.about1 h2,
.skills h2 {
  text-align: center;
  font-size: 2.3rem;
  color: #375583;
  font-weight: 600;
  letter-spacing: 1px;
}

.about1 hr,
.skills hr,
.container-2 hr {
  width: 100px;
  height: 3px;
  background-color: #89e78e;
  border: none;
  margin: 5px auto 0;
}

.about1 .about-content {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  column-gap: 5rem;
}

span {
  color: #57c55c;
}

.about1 .about-content .col-1 h3 {
  font-size: 30px;
  color: #375583;
  margin-bottom: 20px;
}

.about1 .about-content .col-1 p {
  color: #645f5f;
  margin-bottom: 20px;
  line-height: 1.8;
}

.about1 .about-content .col-2 p {
  margin-bottom: 20px;
  color: #645f5f;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
}
/*SECTION-2-END*/

/*SECTION-3*/
.about2 {
  background-color: white;
}

.skills {
  background-color: #274169;
  width: 100%;
  padding: 30px 140px;
  height: 100vh;
}

.skills-content {
  padding-top: 3rem;
}

.skills-content .row {
  background-color: #0f272d;
  display: grid;
  border-radius: 20px;
  align-items: center;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
}

.skills h2 {
  color: white;
  margin-top: 60px;
}

.skills-content .row .item {
  color: white;
  background-color: black;
  border-radius: 30px;
  margin: 20px;
  padding: 1rem;
  transition: 0.2s;
}

.skills-content .row .item:hover {
  transition: 0.2s;
  box-shadow: 10px 10px 20px #141414;
  cursor: pointer;
}
/*SECTION-3-END*/

/*SECTION-4*/
section {
  width: 100%;
  height: 100vh;
  background-color: #00f4ab0c;
}
.heading {
  display: flex;
  align-items: center;
  justify-self: center;
}
.container-1 h2 {
  text-align: center;
  font-size: 2.3rem;
  font-weight: 700;
  word-spacing: 5px;
  letter-spacing: 2px;
  margin-top: 2rem;
}

.container-1 .item-tot {
  padding: 10px 150px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  justify-items: center;
  text-align: center;
}
.container-1 .item-tot .item {
  margin: 35px 30px;
  padding: 10px 0px;
  background: #ffffff;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 1px 1px 15px #c9c9c9;
  transition: 0.5s;
}
.container-1 .item-tot .item:hover {
  transition: 0.5s;
  box-shadow: 3px 5px 20px #686868;
}
/*SECTION-4-END*/

/*SECTION-5*/
.section-2 {
  background: #0f272d;
  padding: 20px 200px;
  height: 150vh;
}
.container-2 .content-2 h2 {
  text-align: center;
  font-size: 2.3rem;
  font-weight: 600;
  color: white;
}
.container-2 .content-2 a {
  text-decoration: none;
  color: #10c019;
  transition: 0.3s;
}
.container-2 .content-2 a:hover {
  transition: 0.3s;
  text-shadow: 2px 4px 2px #d1d1d1;
}
.container-2 .content-2 h1 {
  color: #0f272d;
  padding-bottom: 5px;
}
.content-2 .row {
  padding: 10px 150px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  justify-items: center;
  text-align: center;
}
.content-2 .row .item img {
  width: 300px;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0px 0px;
  cursor: pointer;
}
.content-2 .row .item {
  background-color: white;
  border-radius: 10px;
  transition: 0.5s;
  margin: 20px 30px;
}
.content-2 .row .item:hover {
  transform: scale(1.03);
}
.content-2 .row .item .item-content {
  padding: 18px;
}
/*SECTION-5-END*/

/*SECTION-6*/
.section-3 {
  height: 103vh;
}
.section-3 h2 {
  text-align: center;
  font-size: 2.3rem;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  position: relative;
  top: 3rem;
}
.section-3 hr {
  width: 130px;
  height: 4px;
  background-color: #89e78e;
  border: none;
  margin: 5px auto 0;
  position: relative;
  top: 3rem;
  border-radius: 10px;
}
.section-3 i {
  margin-right: 10px;
}
.container-3 {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  height: 100vh;
}
.content-3 {
  padding: 15px;
  position: relative;
  display: flex;
  justify-content: center;
  justify-items: center;
  background: #ffffff;
  width: 70%;
  height: 55%;
  border-radius: 20px;
  box-shadow: 4px 4px 15px #acacac;
}
.content-3 img {
  width: 35%;
  position: relative;
  right: 8%;
}
.content-3 form {
  position: relative;
  width: 50%;
  left: 5%;
}
.content-3 .input {
  width: 100%;
  margin-bottom: 12px;
  padding: 13px;
  border-radius: 5px;
  outline: none;
  border: none;
  border: 1px solid #c0c0c0;
}
form .message {
  position: relative;
  padding: 10px;
  width: 100%;
  padding-bottom: 150px;
  border-radius: 5px;
  outline: none;
  border: none;
  border: 1px solid #c0c0c0;
  resize: none;
}
.content-3 button {
  width: 114px;
  height: 38px;
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  background: #1cd125;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.5s;
}
.content-3 button:hover {
  transform: 0.5s;
  color: #ffffff;
}
/*SECTION-6-END*/

/*FOOTER*/
.footer {
  background-color: #141414;
  padding: 15px 15px;
  color: white;
  text-align: center;
}
/*END-FOOTER*/

/*ANIMATION*/
.blok {
  animation: nabil linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}
@keyframes nabil {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
/*END-ANIMATION*/

/*MEDIA-IBAD*/
@media (max-width: 768px) {
  .container {
    display: block;
    text-align: center;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
  header {
    box-sizing: border-box;
  }
  .logo {
    padding-bottom: 12px;
    color: #2a5661;
  }
  .content a {
    margin-left: 16px;
    font-weight: 600;
  }
  nav span {
    color: #2a5661;
  }

  /*SECTION-1*/
  .section {
    height: auto;
    box-sizing: border-box;
  }
  .container2 {
    display: block;
    padding: 10px 30px;
    height: auto;
    box-sizing: border-box;
  }
  .container2 img {
    position: block;
    max-width: 90%;
    margin: auto;
    box-sizing: border-box;
  }
  .content2 .user {
    padding: 0px 0px;
    font-size: 3.3em;
    font-weight: 700;
    word-spacing: 6px;
    letter-spacing: 2.2px;
    color: #2a5661;
  }
  .container2 .p1 {
    font-weight: 600;
    font-size: 1.3rem;
  }
  .container2 .p2 {
    font-weight: 600;
    font-size: 1.3rem;
    color: #2a5661;
  }
  .container2 .social {
    font-size: 2.2rem;
    margin-top: 10px;
    position: relative;
    right: 10px;
  }
  .content2 .submit a {
    font-size: 20px;
    padding: 10px;
  }
  /*SECTION-1-END*/

  /*SECTION-2*/
  .about1 {
    height: 80vh;
    padding: 4rem 2px;
  }
  .about1 .about-content {
    grid-template-columns: 1fr;
    row-gap: 4rem;
  }
  .about1 .about-content .col-1 h3 {
    font-size: 28px;
    margin-bottom: 15px;
  }
  .about1 .about-content .col-2 p {
    margin-bottom: 30px;
    padding-bottom: 10px;
  }
  /*SECTION-2-END*/

  /*SECTION-3*/
  .about2 {
    height: 75vh;
  }
  .skills-content .row {
    grid-template-columns: repeat(2, 1fr);
  }
  .skills {
    padding: 20px 50px;
    height: 75vh;
  }
  /*SECTION-3-END*/

  /*SECTION-4*/
  .section-1 {
    height: 95vh;
  }
  .container-1 .item-tot {
    grid-template-columns: repeat(2, 1fr);
    padding: 30px 40px;
  }
  /*SECTION-4-END*/

  /*SECTION-5*/
  .section-2 {
    height: 160vh;
  }
  .content-2 .row {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2rem;
  }
  /*SECTION-5-END*/

  /*SECTION-6*/
  .section-3 {
    height: 110vh;
  }
  .section-3 h2 {
    top: 2rem;
  }
  .section-3 hr {
    top: 2rem;
  }
  .content-3 {
    height: auto;
    width: 87%;
    display: grid;
    grid-template-columns: (1, 1fr);
    row-gap: 3rem;
  }
  .content-3 form {
    position: relative;
    justify-self: left;
    left: 0;
  }
  .container-3 {
    height: 83vh;
    position: relative;
    justify-items: left;
  }
  .content-3 img {
    width: 40%;
    position: relative;
    left: 0px;
  }
  .content-3 .input {
    width: 200%;
    margin-bottom: 13px;
    padding: 14px;
  }
  form .message {
    width: 200%;
  }
  .content-3 button {
    margin: 20px 0px;
  }
  /*SECTION-6-END*/

  /*FOOTER*/
  .footer {
    background-color: #141414;
    position: relative;
    bottom: 210px;
    padding: 12px 12px;
  }
  /*FOOTER-END*/

  /*MOBILE*/
  @media (max-width: 600px) {
    header {
      background-color: white;
      padding: 10px 20px;
    }
    .container {
      display: flex;
      text-align: center;
      padding-bottom: 2%;
      padding: 1% 0%;
    }
    nav {
      background-color: #2a5661;
      position: absolute;
      top: 58px;
      width: 110%;
      left: -15px;
      display: grid;
      padding-bottom: 11px;
      padding-top: 5px;
      opacity: 1;
      pointer-events: auto;
      transition: 0.5s;
    }
    nav.active {
      pointer-events: none;
      opacity: 0;
      transition: 0.5s;
    }
    nav a {
      margin-top: 10px;
      width: 27%;
      left: 34%;
      right: 0;
      border: 1px solid white;
      padding: 5px 0px 5px 0px;
      border-radius: 5px;
      transition: 0.5s; 
    }
    nav span {
      color: white;
      transition: 0.5s;
    }
    .content a::after {
      content: "";
      border: 1px solid white;
      position: absolute;
      width: 100%;
      left: 0%;
      bottom: 0px;
      border-radius: 20px;
      transform: scale(0);
      transition: 0.2s;
    }
    .icon {
      position: relative;
      display: block;
      font-size: 1.5rem;
      cursor: pointer;
      transition: 0.5s;
    }
    .logo {
      padding-bottom: 1%;
      font-size: 0.7rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    .span-js {
      background-color: #57c55c;
      color: white;
      padding: 0px 10px;
      border-radius: 5px;
    }

    .fa-bars {
      position: absolute;
      top: 7px;
      bottom: 0;
      opacity: 1;
      transition: 0.5s;
    }
    .fa-bars.active {
      opacity: 0;
      transition: 0.5s;
    }
    .fa-xmark {
      opacity: 0;
      transition: 0.5s;
    }
    .fa-xmark.active {
      opacity: 1;
      transition: 0.5s;
    }

    /*SECTION-1*/
    .section {
      height: auto;
    }
    .container2 {
      display: block;
      padding: 1% 5%;
      height: auto;
    }
    .container2 img {
      position: block;
      left: 5%;
      margin: auto;
    }
    .content2 .user {
      font-size: 2rem;
      font-weight: 800;
      word-spacing: 5px;
      letter-spacing: 2.1px;
    }
    .container2 .p1 {
      font-weight: 600;
      font-size: 1rem;
    }
    .container2 .p2 {
      font-weight: 600;
      font-size: 1rem;
    }
    .container2 .social {
      font-size: 1.7rem;
      margin-top: 2%;
    }
    .content2 .submit a {
      font-size: 1rem;
      padding: 2% 4%;
    }
    /*SECTION-1-END*/

    /*SECTION-2*/
    .about1 {
      height: auto;
      padding: 3.7rem 0px;
    }
    .about1 .about-content {
      grid-template-columns: 1fr;
      row-gap: 2rem;
    }
    .about1 h2 {
      font-size: 1.5rem;
    }
    .about1 hr {
      width: 35%;
      height: 3px;
    }
    .about1 .about-content .col-1 h3 {
      font-size: 1.5rem;
      margin-bottom: 3%;
    }
    .about1 .about-content .col-2 p {
      margin-bottom: 5%;
      padding-bottom: 2%;
    }
    /*SECTION-2-END*/

    /*SECTION-3*/
    .about2 {
      height: auto;
    }
    .skills {
      padding: 1% 16%;
      height: auto;
    }
    .skills h2 {
      font-size: 1.3rem;
    }
    .skills-content {
      padding-top: 2rem;
    }
    .skills-content .row {
      grid-template-columns: repeat(1, 1fr);
    }
    .skills-content .row .item {
      margin-top: 1%;
    }
    /*SECTION-3-END*/

    /*SECTION-4*/
    .section-1 {
      height: auto;
      padding-top: 3.7rem 0px;
    }
    .container-1 .item-tot {
      grid-template-columns: repeat(1, 1fr);
      padding: 1% 9%;
    }
    .container-1 h2 {
      font-size: 1.9rem;
      margin-top: 2rem;
      margin-bottom: 1rem;
    }
    .container-1 .item-tot .item {
      margin: 3% 10%;
      padding: 5% 0px;
    }
    /*SECTION-4-END*/

    /*SECTION-5*/
    .section-2 {
      height: auto;
      padding: 10% 0%;
    }
    .container-2 .content-2 h2 {
      font-size: 1.8rem;
    }
    .content-2 .row {
      grid-template-columns: repeat(1, 1fr);
      margin-top: 0.2rem;
    }
    .content-2 .row .item img {
      position: relative;
      width: 100%;
    }
    .content-2 .row .item {
      border-radius: 10px;
      transition: 0.5s;
      margin: 8% 5%;
      width: 200%;
    }
    .content-2 .row .item .item-content {
      padding: 5%;
    }
    /*SECTION-5-END*/

    /*SECTION-6*/
    #contact {
      height: auto;
    }
    #contact h2 {
      font-size: 1.7rem;
    }
    .section-3 hr {
      width: 30%;
      left: 5%;
    }
    .container-3 {
      display: flex;
      justify-content: center;
      justify-items: center;
      align-items: center;
      text-align: center;
      height: 150vh;
    }
    /*SECTION-6-END*/

    /*FOOTER*/
    .footer {
      background-color: #141414;
      top: 0;
    }
  }
}
/*MOBILE-END*/
/*MEDIA-IBAD-END*/
